<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring-petclinic-rest-slim" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-petclinic-rest" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.springframework.samples.petclinic.PetClinicApplication" />
    <option name="ACTIVE_PROFILES" value="local" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>